
@{
    ViewBag.Title = "FileUpload";
}

@model FileUpLoadMVC5.Models.User
<h2>FileUpload</h2>

@using(Html.BeginForm("FileUpload","Home",FormMethod.Post,new { @enctype = "multipart/form-data" }))
{
    @Html.EditorFor(x => x.Name);
    <br />
    <input  type="file" name="file"/>
   <br />
    <button type="submit"> Submit</button>
    <br />
    <a href="/Home/FileDownload"> Click Here to Download the file</a>
}
